// Force no margin.
body {
  margin: 0;
}


// Only show button when hovering over the bookmark card.
.hover-note-button {
  display: none;
}
.bookmark-card:hover .hover-note-button {
  display: block;
}


// Styles for restaurant link.
a.link:hover {
  color: #227EC0 !important;
}
